

  <% if user_signed_in? %>
    <script>
      window.location = "/dashboard";
    </script>
  <% end %>

  <!-- <section class="wrapper"> -->
  <div id="navbar" style="background:rgba(20,20,20,0); padding: 10px;">
    <% if user_signed_in? %>
      <div class="ui dropdown basic button inverted right floated">
        <div class="text"><i class="icon user"></i><%= current_user.email %><i class="dropdown icon"></i></div><br />
        <div class="menu">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'item'  %>
          <%= link_to 'Change Password', edit_user_registration_path, :class => 'item' %>
        </div>
      </div>


    <% else %>
      <a href="/users/sign_up" class="ui basic button inverted right floated" style="margin-right: 15px;">Sign Up</a>
      <a href="/users/sign_in" class="ui basic button inverted right floated" style="margin-right: 15px;">Sign In</a>
    <% end %>

    </p>
  </div>
  <section id="about-cover">
      <div class="ui segment inverted" style="opacity: 1; top: 300px; width: 600px; margin: 0 auto; background: rgba(0,0,0,0); padding: 30px 20px 10px 20px;">
        <h1 class="ui header massive" style="font-size: 30pt;"><i>Crum</i></h1>
        <span class="ui white-text" style="font-size: 14pt;"><i>Connect with classmates, see their schedules and work together</i></span>
      </div>
      <div class="ui segment inverted" style="opacity: 1; top: 350px; width: 600px; margin: 0 auto; background: rgba(0,0,0,0.2); border: 1px solid rgba(0,0,0,0); padding: 30px 20px 10px 20px;">
          <h2 class="ui header white-text">Notify Me!</h2><br />
          <form class="ui form">
            <div class="fields">
              <div class="thirteen wide field ">
          	     <input class="" type="text" placeholder="Sign up to be notified when we launch">
              </div>
              <div class="three wide field">
          	     <button class="ui teal large button" type="submit">Submit</button>
              </div>
            </div>
          </form>
      </div>
  </section>

