/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery.atwho
 *= require fullcalendar
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require bootstrap-modal-bs3patch
 *= require bootstrap-modal
 *= require_tree .
 *= require_self
 */
.left{background:#ccc; height:auto; padding:10px; }
.ui.header.left.floated.white-text {
    background: #ccc none repeat scroll 0 0;
    height: 70px;
}
.search_user {
    color: #000;
}
.bar {
    height: 5px; width:80.5%;
    background: green;
}
.star.star-nav {
  margin-top: 14px;
}
.add{margin:10px auto;}
.logo a{
font-size:30px; font-family:arial; color:#000; font-weight:bold;
}
.logout{padding:20px 0px 10px; line-height:50px; font-size:20px; color:#000;}

.user-img {
  border-radius: 31px;
  height: 62px;
  width: 62px; float:left;
}
.user-img  > img { 
  border-radius: 31px;
  height: 62px;
  width: 62px; float:left;    float: left;
}
.col-md-12.chhat > p {
    float: left;
}
.chat-section > p {
  float: left;
  line-height: 22px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
}
#message_body {
  height: 45px;
  margin: 5px 0 !important;
  width: 77.5%;
}
#progress {
  height: 4px;
}
.message-user > p {
  margin-left: 10px;
}
.chat-section {
  margin-left: 10px;
}
.message-user {
  clear: both;
  float: left;
}
.simple_form.new_bookmark {
  float: left;
}
.con {
  height: 440px;
  overflow-x: hidden;
  overflow-y: auto;
}
.footer{position:fixed; bottom:0px; float:right;}
.col-md-12.chhat {
  box-shadow: 9px 1px 6px #ccc;
  margin: 4px 0;
  padding: 7px;
}
.user-name{font-size:14px; font-weight:bold;}
body{padding:0px;}
.modal-backdrop{z-index:1040 !important}
.modal.hide.fade.in {
  display: block !important;
  z-index: 99999999; margin:0px auto !important; 
}
.modal.fade.in {
  padding: 20px;
  top: 10%;
}
.star{
  color: #F00;
}
.empty_star{
  color: #00F;
}
ul li{display:inline; padding:0px 10px;}
.empty_star{
   background-image: url("/images/empty-star.png");
    background-size: cover;
    height: 23px;
    width: 19px !important;
}
.star{
   background-image: url("/images/star-icon.png");
    background-size: cover;
    height: 23px;
    width: 19px !important;
}
.row { margin: 0; padding: 0 }

.file.optional {
  float: left;
  height: 46px;
  margin-top: 2px;
  width: 40px; position:relative;
}
#fake_file_btn {
  background: #ccc none repeat scroll 0 0;
  color: #fff;
  font-size: 38px;
  height: 43px;
  left: 18px;
  line-height: 37px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 40px;
}
#message_attatchments_attributes_0_file{ opacity: 0;}

